.fa-umbrella{
    color: blue;
}

body{
    margin: 0;
    font-size: 5vh;
    background-color:rgb(102, 100, 237);
    background-attachment: fixed;
    background-image: url(../imagenes/celedon17.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        
}

header{
    display: flex;
    text-align: center; 
}
